<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="./css/app.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Josefin+Slab:400,600,700" rel="stylesheet">
    <title>Reporte</title>
</head>

<body class="portada">
    <div class=miContainer>
      <!-----------------------------Menú del restaurante--------------------------->
      <ul id="menuDesayuno" class="dropdown-content">
  			<li><a href="./desayuno/desayunoEntrada.html">Entrada</a></li>
  			<li class="divider"></li>
  			<li><a href="./desayuno/desayunoFuerte.html">Plato fuerte</a></li>
  			<li class="divider"></li>
  			<li><a href="./desayuno/desayunoPostre.html">Postre</a></li>
  		</ul>

  		<ul id="menuComida" class="dropdown-content">
  			<li><a href="./comida/comidaEntrada.html">Entrada</a></li>
  			<li class="divider"></li>
  			<li><a href="./comida/comidaFuerte.html">Plato fuerte</a></li>
  			<li class="divider"></li>
  			<li><a href="./comida/comidaPostre.html">Postre</a></li>
  		</ul>

  		<ul id="menuCena" class="dropdown-content">
  			<li><a href="./cena/cenaEntrada.html">Entrada</a></li>
  			<li class="divider"></li>
  			<li><a href="./cena/cenaFuerte.html">Plato fuerte</a></li>
  			<li class="divider"></li>
  			<li><a href="./cena/cenaPostre.html">Postre</a></li>
  		</ul>

  		<ul id="menuBebidas" class="dropdown-content">
  			<li><a href="./bebida/bebidaFria.html">Bebidas frias</a></li>
  			<li class="divider"></li>
  			<li><a href="./bebida/bebidaCaliente.html">Bebidas calientes</a></li>
  			<li class="divider"></li>
  			<li><a href="./bebida/bebidaAlcohol.html">Bebidas alcoholicas</a></li>
  		</ul>

      <nav class="teal"><!--Etiqueta para la barra de la vegación la clase ayuda al diseño-->
    	  <div class="nav-wrapper "><!--clases que nos ayudan en el diseño-->
    	  <!--Etiqueta para el logo del restaurante con un href que nos llevara a la pagina
    				principal de la aplicación-->
    	    <a href="index.html" class="brand-logo hide-on-small-only"> Gondola Restaurant </a>
    	    <a href="index.html" data-activates="mobile-demo" class="button-collapse ">Gondola Restaurant</a>
    	    <div class="row">
    	    	<!--Etiqueta que nos permite diseñar una lista con una clase que nos ayuda al diseño responsivo que indica que esta lista se va a ocultar cuando llegue a una versión de tabelet o telefono y mediante la etiqueta del logo del restaurante aparecera otro tipo de menú-->
    	    	<ul class="right hide-on-med-and-down">

    				<li><a class="dropdown-button" data-activates="menuDesayuno">Desayunos</a></li>
    				<li><a class="dropdown-button" data-activates="menuComida">Comidas</a></li>
    				<li><a class="dropdown-button" data-activates="menuCena">Cenas</a></li>
    				<li><a class="dropdown-button" data-activates="menuBebidas">Bebidas</a></li>
    				<li><a class="dropdown-button" href="./pedido.html">Pedidos</a></li>
    				<li><a class="dropdown-button" href="./comentarios.html">Comentarios</a></li>
            <li><a class="dropdown-button" href="https://chat-4292c.firebaseapp.com">Chat</a></li>
    				<li><a class="dropdown-button" href="./contacto.html">Contacto</a></li>
    				<li><a class="dropdown-button" href="./reporte.html">Info</a></li>

    	    	</ul>
    	    	<ul class="side-nav" id="mobile-demo">
    		        <li><a class="dropdown-button" data-activates="menuDesayunoMovil">Desayunos</a></li>
    		        <li><a class="dropdown-button" data-activates="menuComidaMovil" >Comidas</a></li>
    		        <li><a class="dropdown-button" data-activates="menuCenaMovil" >Cenas</a></li>
    		        <li><a class="dropdown-button" data-activates="menuBebidasMovil" >Bebidas</a></li>
    		        <li><a class="dropdown-button" href="./pedido.html">Pedidos</a></li>
    						<li><a class="dropdown-button" href="./comentarios.html">Comentarios</a></li>
                <li><a class="dropdown-button" href="https://chat-4292c.firebaseapp.com">Chat</a></li>
    						<li><a class="dropdown-button" href="./contacto.html">Contacto</a></li>
    						<li><a class="dropdown-button" href="./reporte.html">Info</a></li>
    		    </ul>
    	    </div>
    	  </div>
    	</nav>

      <!---------------------Portada del tecnológico--------------------------------------->
      <div class="row">
        <div class="teal darken-4 col l12 m12 s12" id="h1">
          <div class="row hide-on-med-and-down">
            <div class="col l3 m3">
              <img src="./images/Portada/SEP_LOGO.png" class="responsive-img">
            </div>
              <div class="col l7 m7">
                <div class="col l12 m12">
                  <h3 class="grey-text text-lighten-2 center" id="t">TECNOLÓGICO NACIONAL DE MÉXICO </h4>
                </div>
                <div class="col l12 m12">
                  <h4 class="grey-text text-lighten-2 center" id="t">INSTITUTO TECNOLÓGICO DE CUAUTLA</h6>
                </div>
              </div>
              <div class="col l2 m2">
                <img src="./images/Portada/ITC_LOGO1.png" class="responsive-img">
             </div>
          </div>
            <div class="row hide-on-large-only">
            <div class="col s8">
              <h6 class="grey-text text-lighten-2 center" id="t">TECNM</h6>
              <h6 class="grey-text text-lighten-2 center" id="t">ITC</h6>
            </div>
            <div class="col s4">
              <img src="./images/Portada/ITC_LOGO1.png" class="responsive-img">
            </div>
          </div>
        </div>
      </div>

      <!------------------------------Inicio del Reporte--------------------------------->
      <div class="row" id="trans">
        <h3 class="white-text center">Sección de comentarios</h3>
        <h3 class="center white-text">Visual</h3>
        <div class="col l6 m6 s6">
          <h3 class="center white-text">Inicio chat</h3>
          <img src="./images/reporte/chat1.png" class="responsive-img">
        </div>
        <div class="col l6 m12 s12" >
          <h3 class="center white-text">Ventana Admin</h3>
          <img src="./images/reporte/chat2.png" class="responsive-img">
        </div>
        <div class="col l6 m6 s6">
          <h3 class="center white-text">Login con gmail</h3>
          <img src="./images/reporte/chat3.png" class="responsive-img">
        </div>
        <div class="col l6 m12 s12" >
          <h3 class="center white-text">Ventana User</h3>
          <img src="./images/reporte/chat4.png" class="responsive-img">
        </div>

        <div class="col l6 m12 s12">
          <h3 class="center white-text">Codigo HTML</h3>
          <h3 class="center white-text">Componente principal</h3>
          <pre class="language-markup">
&ltdiv class="miContainer">
	&ltapp-navbar>&lt/app-navbar>
  &ltdiv class="right-align" *ngIf="!administrador && !_ls.user">
   &lt!--Con el metodo click en esta etiqueta estamos indicando que al presionar el boton
   tendra que hacer una llamada a la función loginAdministrador() para poder visualizar
   la ventana del administrador que es en la cual va a poder responder los mensajes-->
  	&lta class="waves-effect waves-light btn-large red darken-4" (click)="loginAdministrador()">Administrador&lt/a>
  &lt/div>
  &lt!--En este contenerdor estamos indicando que se tiene que cumplir la condicional que en este caso
  se a un usuario el que la utilice, para mostrar cierto tipo de contenido-->
  &ltng-container *ngIf="!_ls.user">
  	&ltdiv class="container-column">
  		&lth1 class="white-text">Ingresa y dejanos saber tus dudas&lt/h1>
  		&lt!--Por medio del metodo click estamos haciendo un llamado a la función login, la cual nos
  		nos va a permitir logearnos por medio de nuestra cuenta de gmail-->
  		&lta class="waves-effect waves-light btn-large red darken-4" (click)="login()">Login&lt/a>
  	&lt/div>
  &lt/ng-container>

  &ltng-container *ngIf="_ls.user">
  	&ltdiv class="container-column">
      &lt!--En esta parte estamos indicando que por medio del llamado a la función logout vamos a
      cerrar la sesión del usuario que este dejando su mensaje-->
    	&lta class="waves-effect waves-light btn-large red darken-4" (click)="logout()">Logout&lt/a>
      &ltdiv class="chat-window animated fadeIn fast">
  			&lth3 class="white-text center">Chatea con nosotros&lt/h3>
  				&lt!--Esta directiva nos permite lograr que por medio de componentes, puedas ir fraccionando
  				proyecto en este caso, con la etiqueta app-chat estamos indicando que en esa seccion de la
  			  pagina va a estar contenido la sección de los mensajes y por medio de otro componente se
  				realizara toda la visulización y estructura del chat-->
  				&ltapp-chat>&lt/app-chat>
  		&lt/div>
  	&lt/div>
  &lt/ng-container>
&lt/div>
          </pre>
          <h3 class="center white-text">Componente del chat</h3>
          <pre class="language-markup">
&ltdiv class="miContainer">
&lt!--ng-container es un contenedor que es utilizado en angular y ngIf es una directiva
 que nos permite visualizar cierto tipo de contenido dependiendo si se cumple la condicional o no
en este caso que _ls.user sea igual a administrador-->
&ltng-container *ngIf="_ls.user=='administrador'">
	&ltdiv class="listado-chats grey lighten-1 center">
		&ltspan class="red-text text-darken-4" id="hola">Mensajes Recibidos&lt/span>
		&lt!--ngFor es una directiva ciclica que nos va a ayudar a obtener cada uno de los chats personalizados
		con el pip async estamos indicando que solo queremos los mensajes sin codigo basura -->
		&ltdiv *ngFor="let chat of _ls.chats | async">
			&lt!--Aqui estamos indicando que cada chat lo va a mostrar en un boton con el nombre de la persona
			que te envio el mensaje y al hacerle click va a visualizar el administrador el chat de esa persona
	  	la parte del |JSON estamos indicando que no lo queremos en un archivo .json si no solo el valor
			y al hacer click va a mandar a llamar al metodo consultar-->
		&lta (click)="consultar(chat.uid)" class="waves-effect waves-light btn-large red white-text" id="cambios">Responder a {{chat.nombre |json}}&lt/a>
		&lt/div>
	&lt/div>
&lt/ng-container>

&ltdiv class="container-chat">
	&ltdiv id="app-mensajes" class="app-mensajes grey lighten-1">
		&lt!--En esta linea ngFor nos va a permitir obtener los mensajes de la base de datos
		 que se han enviado del lado del usuario para poder visualizarlos y de igual forma se utiliza el pip
	 	 async para que se muestra la información sin basura -->
		&ltdiv *ngFor="let mensaje of _ls.mensajes | async">
	    &lt!--En la etiqueta span y en la etiqueta p, se estaran mostrando el nombre del usuario y
			el mensaje que esta enviando o recibiendo -->
     	&ltspan class="red darken-2 white-text">
	      {{ mensaje.nombre }}
	    &lt/span>
	    &ltp class="grey grey-text text-darken-3">
	      Q: {{ mensaje.mensaje }}
	    &lt/p>
	 	&lt/div>
	&lt/div>
&lt!--Este contenedor nos permite enviarle el mensaje al administrador-->
	&ltng-container *ngIf="_ls.user!='administrador'">
		&lt!--ngModel nos permite que todo lo que se esta enviando mediante el input, se va a almacenar
		en una variable llamada mensaje, la cuál va a ser utilizada en el código de javascript-->
	&ltinput [(ngModel)]="mensaje"
	        name="mensaje"
	        (keyup.enter)="enviar()"
	        placeholder="Deja tu mensaje..."
					class="grey darken-4 center white-text">
	&lt!--Con el metodo click que se esta utilizando en la etiqueta a, estamos indicando una llamada a
	una función que se encuentra en el javascript para enviar los mensajes a la base de datos-->
	&lta class="waves-effect waves-light btn-large red darken-4" (click)="enviar()">Enviar&lt/a>
	&lt/ng-container>
  &lt!--En este contenedor esta haciendo lo mismo que el anterior, pero en este caso son los Mensajes
  que estara enviando el administrador en respuesta a los chat de cada persona-->
	&ltng-container *ngIf="_ls.user=='administrador'">
		&ltinput [(ngModel)]="mensaje"
	        name="mensaje"
	        (keyup.enter)="enviarAdm()"
	        placeholder="Deja tu mensaje..."
					class="grey darken-4 center white-text">
		&lta class="waves-effect waves-light btn-large red darken-4" (click)="enviarAdm()">Enviar&lt/a>
	&lt/ng-container>
&lt/div>
&lt/div>
          </pre>
        </div>

        <div class="col l6 m12 s12">
          <h3 class="center white-text">Código JavaScript</h3>
          <h3 class="center white-text">Componente principal</h3>
          <pre class="language-markup">

          </pre>
          <h3 class="center white-text">Componente del chat</h3>
          <pre class="language-markup">

          </pre>
        </div>
      </div>

      <!-------------------Scripts------------------>
      <script type="text/javascript" src="./js/jquery-2.1.4.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    	<script type="text/javascript" src="./js/app.js"></script>
  </body>
</html>
